@(message: String)

@main(message) {

	<div class="container">
	<div class="row" style="margin-top:50px;">
    	    		
	    		<div class="col l12 m12 s12">
	    			<div class="col l6 m6 s12">
		    			<button class="btn waves-effect waves-light datepicker" type="button" name="selectDay">
		    				Change Day
	    					<i class="mdi-action-schedule left"></i>
	  					</button>
	  				</div>
	  				<div class="col l6 m6 s12">

						<p class="flow-text description">Press <em style="color:#26a69a"> Change Day </em>  button to change the date and see the temperature readings of the selected day.
						</p>
	  				</div>
	    		</div>
	    		<div class="col l12 m12 s12">
	    			<h4><span class="fa fa-file-o" style="margin-right:10px;"></span>Misuration</h4>
	    			
	    			<div id="placeholder1"style=" min-height:200px;">
    				
    					<div class="col s6 custom-preloader hide" id="temperature_loader">

							<div class="preloader-wrapper big active">
				              <div class="spinner-layer spinner-blue">
				                <div class="circle-clipper left">
				                  <div class="circle"></div>
				                </div><div class="gap-patch">
				                  <div class="circle"></div>
				                </div><div class="circle-clipper right">
				                  <div class="circle"></div>
				                </div>
				              </div>

				              <div class="spinner-layer spinner-red">
				                <div class="circle-clipper left">
				                  <div class="circle"></div>
				                </div><div class="gap-patch">
				                  <div class="circle"></div>
				                </div><div class="circle-clipper right">
				                  <div class="circle"></div>
				                </div>
				              </div>

				              <div class="spinner-layer spinner-yellow">
				                <div class="circle-clipper left">
				                  <div class="circle"></div>
				                </div><div class="gap-patch">
				                  <div class="circle"></div>
				                </div><div class="circle-clipper right">
				                  <div class="circle"></div>
				                </div>
				              </div>

				              <div class="spinner-layer spinner-green">
				                <div class="circle-clipper left">
				                  <div class="circle"></div>
				                </div><div class="gap-patch">
				                  <div class="circle"></div>
				                </div><div class="circle-clipper right">
				                  <div class="circle"></div>
				                </div>
				              </div>
            				</div>
						</div>
						<div id="temperature_graph" style="height: 200px;"></div>
						</div>
					</div>
	    			
					
	    	</div>
	    	<div class="col l12 m12 s12">
	    			<h4><span class="fa fa-warning" style="margin-right: 5px;"></span>Failures</h4>
	    			<div style=" min-height:200px;">	

	    				<div class="col s6 custom-preloader hide" id="failure_loader" >
	    					
							<div class="preloader-wrapper big active">
				              <div class="spinner-layer spinner-blue">
				                <div class="circle-clipper left">
				                  <div class="circle"></div>
				                </div><div class="gap-patch">
				                  <div class="circle"></div>
				                </div><div class="circle-clipper right">
				                  <div class="circle"></div>
				                </div>
				              </div>

				              <div class="spinner-layer spinner-red">
				                <div class="circle-clipper left">
				                  <div class="circle"></div>
				                </div><div class="gap-patch">
				                  <div class="circle"></div>
				                </div><div class="circle-clipper right">
				                  <div class="circle"></div>
				                </div>
				              </div>

				              <div class="spinner-layer spinner-yellow">
				                <div class="circle-clipper left">
				                  <div class="circle"></div>
				                </div><div class="gap-patch">
				                  <div class="circle"></div>
				                </div><div class="circle-clipper right">
				                  <div class="circle"></div>
				                </div>
				              </div>

				              <div class="spinner-layer spinner-green">
				                <div class="circle-clipper left">
				                  <div class="circle"></div>
				                </div><div class="gap-patch">
				                  <div class="circle"></div>
				                </div><div class="circle-clipper right">
				                  <div class="circle"></div>
				                </div>
				              </div>
            				</div>
						</div>
						<div id="failure_graph" style="height: 200px;"></div>
						
	    			</div>
	    	</div>

         </div>
    </div>   

}
